<header class="header __js_fixed-header">
    <div class="header__inner">
      <!-- Logo-->
      <a class="header__logo logo">
        <span class="logo__image">
          <!-- <svg width="52" height="52" aria-label="logo"> -->
          <!-- <use xlink:href="#logo"></use> -->
          <img id="logo" src="img/u/icon.png" alt="">
          <!-- </svg> -->
        </span>
        <span class="logo__text">EBAH</span>
      </a>
      <!-- Header menu-->
      <nav class="header__nav navigation">
        <ul class="navigation__list">
          <li class="navigation__item navigation__item--current">
            <a href="/" class="navigation__link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="/about" class="navigation__link">About</a>
          </li>
          <li class="navigation__item">
            <a href="/projects" class="navigation__link">Projects</a>
          </li>
          <li class="navigation__item">
            <a href="/#services" class="navigation__link">Services</a>
          </li>
          <li class="navigation__item">
            <a href="/team" class="navigation__link">Our Team</a>
          </li>
          <li class="navigation__item">
            <a href="/articles" class="navigation__link">News & Article</a>
          </li>
          <li class="navigation__item">
            <a href="/contact" class="navigation__link">Contact</a>
          </li>
          <!-- <li class="navigation__item">
            <a class="navigation__link animsition-link" href="about-default-dark.html">About</a>
            <div class="navigation__dropdown navigation__dropdown--columns">
              <div class="navigation__dropdown-wrapper">
                <div class="navigation__dropdown-column">
                  <div class="navigation__dropdown-column-title">Light</div>
                  <ul class="navigation__dropdown-list">
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="about-default.html">About Default</a>
                    </li>
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="about-universal.html">About Universal</a>
                    </li>
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="about-visual.html">About Visual</a>
                    </li>
                  </ul>
                </div>
                <div class="navigation__dropdown-column">
                  <div class="navigation__dropdown-column-title">Dark</div>
                  <ul class="navigation__dropdown-list">
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="about-default-dark.html">About Default Dark</a>
                    </li>
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="about-universal-dark.html">About Universal Dark</a>
                    </li>
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="about-visual-dark.html">About Visual Dark</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li> -->

        </ul>
      </nav>
      <!-- Chat-->
      <a class="header__chat lets-chat" href="https://wa.me/+917637999607">
        <span class="lets-chat__text">Let’s chat!</span>
        <span class="lets-chat__icon">
          <svg width="18" height="18">
            <use xlink:href="#comments-reply"></use>
          </svg>
        </span>
      </a>
      <!-- Header search-->
      <div class="header__search header-search __js_header-search">
        <div class="header-search__wrapper">
          <form action="#" method="post">
            <label aria-label="Type and hit enter to search">
              <input type="search" name="header-search" placeholder="Type and hit enter to search...">
            </label>
          </form>
        </div>
        <button class="header-search__toggle" type="button">
          <svg class="header-search__toggle-icon header-search__toggle-icon--loupe" width="22" height="22">
            <use xlink:href="#search"></use>
          </svg>
          <svg class="header-search__toggle-icon header-search__toggle-icon--close" width="22" height="22">
            <use xlink:href="#close"></use>
          </svg>
          <span class="visually-hidden">Show search field</span>
        </button>
      </div>
      <!-- Burger-->
      <button class="header__menu-toggle menu-toggle" type="button">
        <span class="visually-hidden">Menu</span>
      </button>
    </div>
  </header>
  <!-- Header mobile menu-->
  <section class="menu">
    <div class="menu__inner">
      <button class="menu__close" type="button">
        <svg width="24" height="24">
          <use xlink:href="#close"></use>
        </svg>
        <span class="visually-hidden">Close menu</span>
      </button>
      <!-- Lang switcher-->
      <ul class="menu__lang-switcher lang-switcher lang-switcher--upper lang-switcher--menu">
        <li class="lang-switcher__item">
          <a class="lang-switcher__link lang-switcher__link--current">Eng</a>
        </li>
        <!-- <li class="lang-switcher__item">
          <a class="lang-switcher__link" href="#">Fra</a>
        </li> -->

      </ul>
      <div class="menu__wrapper">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link __js_menu-dropdown-link" onclick="(location.href='/')">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link __js_menu-dropdown-link" onclick="(location.href='/#services')">Services</a>
          </li>
          <li class="menu__item">
            <a class="menu__link __js_menu-dropdown-link" onclick="(location.href='/about')">About</a>
          </li>
          <li class="menu__item">
            <a class="menu__link __js_menu-dropdown-link" onclick="(location.href='/team')">Our Team</a>
          </li>
          <li class="menu__item">
            <a class="menu__link __js_menu-dropdown-link" onclick="(location.href='/articles')">News & Article</a>
          </li>
          <li class="menu__item">
            <a class="menu__link __js_menu-dropdown-link" onclick="(location.href='/contact')">Contact</a>
          </li>
          <li class="menu__item">
            <a class="menu__link __js_menu-dropdown-link" onclick="(location.href='/projects')">Projectds</a>
          </li>
  
      
        </ul>
      </div>
      <div class="menu__bottom">
        <div class="menu__copy">
          © 2024 <span>Reynrel.</span> All Rights Reserved.
          <br>Development by <span>Reynrel</span>
        </div>
        <!-- Social-->
        <ul class="menu__social social">
          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <svg width="18" height="18" aria-label="twitter icon">
                <use xlink:href="#twitter"></use>
              </svg>
              <span class="visually-hidden">Twitter</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/ebah_partners/" target="_blank">
              <svg width="18" height="18" aria-label="facebook icon">
                <use xlink:href="#facebook"></use>
              </svg>
              <span class="visually-hidden">Facebook</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/ebah_partners/" target="_blank">
              <svg width="18" height="18" aria-label="instagram icon">
                <use xlink:href="#instagram"></use>
              </svg>
              <span class="visually-hidden">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>