<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- CSS-->
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/site.webmanifest">
  <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/theme-dark.css">
  <title> Team</title>
</head>

<style>
  .x {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    box-sizing: border-box
  }

  .x *,
  .x :after,
  .x :before {
    box-sizing: inherit
  }

  .x-el a[href^="mailto:"]:not(.x-el),
  .x-el a[href^="tel:"]:not(.x-el) {
    color: inherit;
    font-size: inherit;
    text-decoration: inherit
  }

  .x-el-article,
  .x-el-aside,
  .x-el-details,
  .x-el-figcaption,
  .x-el-figure,
  .x-el-footer,
  .x-el-header,
  .x-el-hgroup,
  .x-el-main,
  .x-el-menu,
  .x-el-nav,
  .x-el-section,
  .x-el-summary {
    display: block
  }

  .x-el-audio,
  .x-el-canvas,
  .x-el-progress,
  .x-el-video {
    display: inline-block;
    vertical-align: baseline
  }

  .x-el-audio:not([controls]) {
    display: none;
    height: 0
  }

  .x-el-template {
    display: none
  }

  .x-el-a {
    background-color: transparent;
    color: inherit
  }

  .x-el-a:active,
  .x-el-a:hover {
    outline: 0
  }

  .x-el-abbr[title] {
    border-bottom: 1px dotted
  }

  .x-el-b,
  .x-el-strong {
    font-weight: 700
  }

  .x-el-dfn {
    font-style: italic
  }

  .x-el-mark {
    background: #ff0;
    color: #000
  }

  .x-el-small {
    font-size: 80%
  }

  .x-el-sub,
  .x-el-sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
  }

  .x-el-sup {
    top: -.5em
  }

  .x-el-sub {
    bottom: -.25em
  }

  .x-el-img {
    vertical-align: middle;
    border: 0
  }

  .x-el-svg:not(:root) {
    overflow: hidden
  }

  .x-el-figure {
    margin: 0
  }

  .x-el-hr {
    box-sizing: content-box;
    height: 0
  }

  .x-el-pre {
    overflow: auto
  }

  .x-el-code,
  .x-el-kbd,
  .x-el-pre,
  .x-el-samp {
    font-family: monospace, monospace;
    font-size: 1em
  }

  .x-el-button,
  .x-el-input,
  .x-el-optgroup,
  .x-el-select,
  .x-el-textarea {
    color: inherit;
    font: inherit;
    margin: 0
  }

  .x-el-button {
    overflow: visible
  }

  .x-el-button,
  .x-el-select {
    text-transform: none
  }

  .x-el-button,
  .x-el-input[type=button],
  .x-el-input[type=reset],
  .x-el-input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
  }

  .x-el-button[disabled],
  .x-el-input[disabled] {
    cursor: default
  }

  .x-el-button::-moz-focus-inner,
  .x-el-input::-moz-focus-inner {
    border: 0;
    padding: 0
  }

  .x-el-input {
    line-height: normal
  }

  .x-el-input[type=checkbox],
  .x-el-input[type=radio] {
    box-sizing: border-box;
    padding: 0
  }

  .x-el-input[type=number]::-webkit-inner-spin-button,
  .x-el-input[type=number]::-webkit-outer-spin-button {
    height: auto
  }

  .x-el-input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
  }

  .x-el-input[type=search]::-webkit-search-cancel-button,
  .x-el-input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
  }

  .x-el-textarea {
    border: 0
  }

  .x-el-fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
  }

  .x-el-legend {
    border: 0;
    padding: 0
  }

  .x-el-textarea {
    overflow: auto
  }

  .x-el-optgroup {
    font-weight: 700
  }

  .x-el-table {
    border-collapse: collapse;
    border-spacing: 0
  }

  .x-el-td,
  .x-el-th {
    padding: 0
  }

  .x {
    -webkit-font-smoothing: antialiased
  }

  .x-el-hr {
    border: 0
  }

  .x-el-fieldset,
  .x-el-input,
  .x-el-select,
  .x-el-textarea {
    margin-top: 0;
    margin-bottom: 0
  }

  .x-el-fieldset,
  .x-el-input[type=email],
  .x-el-input[type=text],
  .x-el-textarea {
    width: 100%
  }

  .x-el-label {
    vertical-align: middle
  }

  .x-el-input {
    border-style: none;
    padding: .5em;
    vertical-align: middle
  }

  .x-el-select:not([multiple]) {
    vertical-align: middle
  }

  .x-el-textarea {
    line-height: 1.75;
    padding: .5em
  }

  .x-el.d-none {
    display: none !important
  }

  .sideline-footer {
    margin-top: auto
  }

  .disable-scroll {
    touch-action: none;
    overflow: hidden;
    position: fixed;
    max-width: 100vw
  }

  @-webkit-keyframes loaderscale {
    0% {
      transform: scale(1);
      opacity: 1
    }

    45% {
      transform: scale(.1);
      opacity: .7
    }

    80% {
      transform: scale(1);
      opacity: 1
    }
  }

  @keyframes loaderscale {
    0% {
      transform: scale(1);
      opacity: 1
    }

    45% {
      transform: scale(.1);
      opacity: .7
    }

    80% {
      transform: scale(1);
      opacity: 1
    }
  }

  .x-loader svg {
    display: inline-block
  }

  .x-loader svg:first-child {
    -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.24s infinite;
    animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.24s infinite
  }

  .x-loader svg:nth-child(2) {
    -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.12s infinite;
    animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.12s infinite
  }

  .x-loader svg:nth-child(3) {
    -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) 0s infinite;
    animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) 0s infinite
  }

  .x-icon>svg {
    transition: transform .33s ease-in-out
  }

  .x-icon>svg.rotate-90 {
    transform: rotate(-90deg)
  }

  .x-icon>svg.rotate90 {
    transform: rotate(90deg)
  }

  .x-icon>svg.rotate-180 {
    transform: rotate(-180deg)
  }

  .x-icon>svg.rotate180 {
    transform: rotate(180deg)
  }

  .x-rt ol,
  .x-rt ul {
    text-align: left
  }

  .x-rt p {
    margin: 0
  }

  .mte-inline-block {
    display: inline-block
  }

  @media only screen and (min-device-width:1025px) {

    :root select,
    _::-webkit-full-page-media,
    _:future {
      font-family: sans-serif !important
    }
  }
</style>
<style>
  @import url('');
  @import url('');
</style>
<style data-glamor="cxs-default-sheet">
  .x .c1-1 {
    letter-spacing: normal
  }

  .x .c1-2 {
    text-transform: none
  }

  .x .c1-3 {
    background-color: rgb(255, 255, 255)
  }

  .x .c1-4 {
    width: 100%
  }

  .x .c1-5>div {
    position: relative
  }

  .x .c1-6>div {
    overflow: hidden
  }

  .x .c1-7>div {
    margin-top: auto
  }

  .x .c1-8>div {
    margin-right: auto
  }

  .x .c1-9>div {
    margin-bottom: auto
  }

  .x .c1-a>div {
    margin-left: auto
  }

  .x .c1-b {
    font-family: Helvetica, arial, sans-serif
  }

  .x .c1-c {
    font-size: 16px
  }

  .x .c1-h {
    background-color: rgb(22, 22, 22)
  }

  .x .c1-i {
    padding-top: 56px
  }

  .x .c1-j {
    padding-bottom: 56px
  }

  .x .c1-k {
    overflow: visible
  }

  .x .c1-l {
    padding: 0px !important
  }

  .x .c1-o {
    display: none
  }

  .x .c1-q {
    background-color: rgb(255, 229, 0)
  }

  .x .c1-r {
    padding-top: 4px
  }

  .x .c1-s {
    padding-bottom: 4px
  }

  .x .c1-t {
    transition: all .5s
  }

  .x .c1-u {
    position: relative
  }

  .x .c1-v {
    z-index: 1
  }

  .x .c1-w {
    margin-left: auto
  }

  .x .c1-x {
    margin-right: auto
  }

  .x .c1-y {
    padding-left: 24px
  }

  .x .c1-z {
    padding-right: 24px
  }

  .x .c1-10 {
    max-width: 100%
  }

  .x .c1-11 {
    display: flex
  }

  .x .c1-12 {
    align-items: center
  }

  .x .c1-13 {
    justify-content: center
  }

  .x .c1-18 {
    color: rgb(2, 2, 2)
  }

  .x .c1-19 {
    width: 40px
  }

  .x .c1-1a {
    max-height: 33px
  }

  .x .c1-1c {
    padding-left: 8px
  }

  .x .c1-1d {
    padding-right: 8px
  }

  .x .c1-1e {
    word-wrap: break-word
  }

  .x .c1-1f {
    overflow-wrap: break-word
  }

  .x .c1-1g {
    line-height: 1.5
  }

  .x .c1-1h {
    margin-top: 0
  }

  .x .c1-1i {
    margin-bottom: 0
  }

  .x .c1-1j {
    text-align: center
  }

  .x .c1-1k {
    font-weight: 400
  }

  .x .c1-1m {
    flex-direction: row
  }

  .x .c1-1n {
    justify-content: space-between
  }

  .x .c1-1o {
    padding-top: 24px
  }

  .x .c1-1p {
    padding-bottom: 24px
  }

  .x .c1-1q {
    flex-basis: 100%
  }

  .x .c1-1r a {
    text-decoration: none
  }

  .x .c1-1s {
    text-align: right
  }

  .x .c1-1t {
    color: rgb(247, 247, 247)
  }

  .x .c1-1u {
    font-size: 22px
  }

  .x .c1-1z {
    letter-spacing: inherit
  }

  .x .c1-20 {
    text-transform: inherit
  }

  .x .c1-21 {
    text-decoration: none
  }

  .x .c1-22 {
    display: inline
  }

  .x .c1-23 {
    cursor: pointer
  }

  .x .c1-24 {
    color: inherit !important
  }

  .x .c1-25 {
    font-size: inherit !important
  }

  .x .c1-26 {
    font-weight: inherit
  }

  .x .c1-27:hover {
    color: rgb(193, 173, 0)
  }

  .x .c1-28:active {
    color: rgb(255, 229, 0)
  }

  .x .c1-29 {
    padding-top: 16px
  }

  .x .c1-2a {
    padding-bottom: 16px
  }

  .x .c1-2b {
    background-color: rgb(0, 0, 0)
  }

  .x .c1-2c {
    max-width: none
  }

  .x .c1-2d {
    line-height: 24px
  }

  .x .c1-2e {
    margin-left: 0
  }

  .x .c1-2f {
    margin-right: 0
  }

  .x .c1-2g {
    -webkit-margin-before: 0
  }

  .x .c1-2h {
    -webkit-margin-after: 0
  }

  .x .c1-2i {
    -webkit-padding-start: 0
  }

  .x .c1-2j {
    padding-top: 0
  }

  .x .c1-2k {
    padding-right: 0
  }

  .x .c1-2l {
    padding-bottom: 0
  }

  .x .c1-2m {
    padding-left: 0
  }

  .x .c1-2n {
    color: rgb(145, 145, 145)
  }

  .x .c1-2o {
    margin-bottom: none
  }

  .x .c1-2p {
    display: inline-block
  }

  .x .c1-2q {
    list-style: none
  }

  .x .c1-2r {
    vertical-align: top
  }

  .x .c1-2s {
    padding-left: 32px
  }

  .x .c1-2t {
    white-space: nowrap
  }

  .x .c1-2u {
    visibility: hidden
  }

  .x .c1-2v:first-child {
    margin-left: 0
  }

  .x .c1-2w:first-child {
    padding-left: 0
  }

  .x .c1-2x {
    letter-spacing: 0.143em
  }

  .x .c1-2y {
    text-transform: uppercase
  }

  .x .c1-2z {
    display: block
  }

  .x .c1-30 {
    margin-left: -6px
  }

  .x .c1-31 {
    margin-right: -6px
  }

  .x .c1-32 {
    margin-top: -6px
  }

  .x .c1-33 {
    margin-bottom: -6px
  }

  .x .c1-34 {
    padding-left: 6px
  }

  .x .c1-35 {
    padding-right: 6px
  }

  .x .c1-36 {
    padding-top: 6px
  }

  .x .c1-37 {
    padding-bottom: 6px
  }

  .x .c1-38 {
    color: rgb(226, 226, 226)
  }

  .x .c1-39 {
    font-size: 14px
  }

  .x .c1-3e {
    color: inherit
  }

  .x .c1-3f {
    transition: transform .33s ease-in-out
  }

  .x .c1-3g {
    transform: rotate(0deg)
  }

  .x .c1-3h {
    vertical-align: middle
  }

  .x .c1-3i {
    border-radius: 4px
  }

  .x .c1-3j {
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.24)
  }

  .x .c1-3k {
    padding-left: 16px
  }

  .x .c1-3l {
    padding-right: 16px
  }

  .x .c1-3m {
    position: absolute
  }

  .x .c1-3n {
    top: 32px
  }

  .x .c1-3o {
    max-height: 45vh
  }

  .x .c1-3p {
    overflow-y: auto
  }

  .x .c1-3q {
    z-index: 1003
  }

  .x .c1-3t {
    color: rgb(164, 164, 164)
  }

  .x .c1-3u {
    text-align: left
  }

  .x .c1-3v:last-child {
    margin-bottom: 0
  }

  .x .c1-3w {
    color: rgb(255, 229, 0)
  }

  .x .c1-3x {
    font-weight: 700
  }

  .x .c1-3y {
    right: 0px
  }

  .x .c1-3z {
    margin-top: 8px
  }

  .x .c1-40 {
    margin-bottom: 8px
  }

  .x .c1-41 {
    cursor: default
  }

  .x .c1-42 {
    margin-left: 24px
  }

  .x .c1-44 {
    box-sizing: border-box
  }

  .x .c1-45 {
    flex-wrap: nowrap
  }

  .x .c1-46 {
    margin-right: -0px
  }

  .x .c1-47 {
    margin-bottom: -0px
  }

  .x .c1-48 {
    margin-left: -0px
  }

  .x .c1-49 {
    justify-content: flex-start
  }

  .x .c1-4e {
    flex-grow: 1
  }

  .x .c1-4f {
    flex-shrink: 0
  }

  .x .c1-4g {
    flex-basis: 10%
  }

  .x .c1-4h {
    max-width: 10%
  }

  .x .c1-4i {
    padding-right: 0px
  }

  .x .c1-4j {
    padding-bottom: 0px
  }

  .x .c1-4k {
    padding-left: 0px
  }

  .x .c1-4p {
    border-top: 0px
  }

  .x .c1-4q {
    border-right: 0px
  }

  .x .c1-4r {
    border-bottom: 0px
  }

  .x .c1-4s {
    border-left: 0px
  }

  .x .c1-4t:hover {
    color: rgb(255, 229, 0)
  }

  .x .c1-4u {
    flex-shrink: 1
  }

  .x .c1-4v {
    flex-basis: 80%
  }

  .x .c1-4w {
    max-width: 80%
  }

  .x .c1-4x {
    margin-left: 8px
  }

  .x .c1-4y {
    margin-right: 8px
  }

  .x .c1-4z {
    justify-content: flex-end
  }

  .x .c1-50 {
    position: fixed
  }

  .x .c1-51 {
    top: 0px
  }

  .x .c1-52 {
    height: 100%
  }

  .x .c1-53 {
    z-index: 10002
  }

  .x .c1-54 {
    -webkit-overflow-scrolling: touch
  }

  .x .c1-55 {
    transform: translateX(-249vw)
  }

  .x .c1-56 {
    overscroll-behavior: contain
  }

  .x .c1-57 {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2)
  }

  .x .c1-58 {
    transition: transform .3s ease-in-out
  }

  .x .c1-59 {
    overflow: hidden
  }

  .x .c1-5a {
    flex-direction: column
  }

  .x .c1-5b {
    line-height: 1.3em
  }

  .x .c1-5c {
    font-style: normal
  }

  .x .c1-5d {
    top: 15px
  }

  .x .c1-5e {
    right: 15px
  }

  .x .c1-5f {
    font-size: 28px
  }

  .x .c1-5k {
    overflow-x: hidden
  }

  .x .c1-5l {
    overscroll-behavior: none
  }

  .x .c1-5m {
    margin-bottom: 32px
  }

  .x .c1-5n> :not(:first-child) {
    margin-top: 16px
  }

  .x .c1-5o {
    border-color: rgba(76, 76, 76, 0.5)
  }

  .x .c1-5p {
    border-bottom-width: 1px
  }

  .x .c1-5q {
    border-bottom-style: solid
  }

  .x .c1-5r:last-child {
    border-bottom: 0
  }

  .x .c1-5s {
    min-width: 200px
  }

  .x .c1-5u {
    pointer-events: none
  }

  .x .c1-5v {
    border-bottom-width: 0
  }

  .x .c1-5w:last-child {
    padding-bottom: 24px
  }

  .x .c1-5x {
    padding-top: 8px
  }

  .x .c1-5y {
    padding-bottom: 8px
  }

  .x .c1-5z {
    padding-left: 40px
  }

  .x .c1-60 {
    line-height: 1.4
  }

  .x .c1-61 {
    margin-bottom: 40px
  }

  .x .c1-62 {
    font-family: 'Courier New', monospace
  }

  .x .c1-69 {
    font-size: unset
  }

  .x .c1-6a {
    font-family: unset
  }

  .x .c1-6b {
    letter-spacing: unset
  }

  .x .c1-6c {
    text-transform: unset
  }

  .x .c1-6d {
    line-height: 0px
  }

  .x .c1-6e {
    border-color: rgb(42, 42, 42)
  }

  .x .c1-6f {
    border-bottom-width: 2px
  }

  .x .c1-6g {
    border-style: solid
  }

  .x .c1-6h {
    margin-top: 24px
  }

  .x .c1-6i {
    width: 50px
  }

  .x .c1-6j {
    flex-wrap: wrap
  }

  .x .c1-6k {
    margin-right: -12px
  }

  .x .c1-6l {
    margin-bottom: -24px
  }

  .x .c1-6m {
    margin-left: -12px
  }

  .x .c1-6n {
    padding-right: 12px
  }

  .x .c1-6o {
    padding-left: 12px
  }

  .x .c1-6p {
    margin-bottom: 24px
  }

  .x .c1-6r {
    flex-basis: auto
  }

  .x .c1-6t {
    line-height: 1.25
  }

  .x .c1-6u {
    font-size: 25px
  }

  .x .c1-6z {
    margin-top: 4px
  }

  .x .c1-70 {
    color: rgb(169, 169, 169)
  }

  .x .c1-71 {
    margin-top: 40px
  }

  .x .c1-76 {
    max-width: 360px
  }

  .x .c1-77 {
    display: table
  }

  .x .c1-79 {
    width: auto
  }

  .x .c1-7a {
    aspect-ratio: 1 / 1
  }

  .x .c1-7b {
    cursor: auto
  }

  .x .c1-7c {
    height: auto
  }

  .x .c1-7d {
    border-radius: 50%
  }

  .x .c1-7h {
    margin-top: 32px
  }

  .x .c1-7o {
    padding-top: .3em
  }

  .x .c1-7t {
    line-height: 1
  }

  .x .c1-7u {
    margin-top: 16px
  }

  .x .c1-7v {
    line-height: inherit
  }

  .x .c1-7w {
    font-style: italic
  }

  .x .c1-7x {
    text-decoration: line-through
  }

  .x .c1-7y {
    text-decoration: underline
  }

  .x .c1-7z {
    border-bottom-width: 1px
  }

  .x .c1-82 {
    flex-basis: 83.33333333333334%
  }

  .x .c1-83 {
    max-width: 83.33333333333334%
  }

  .x .c1-84 {
    margin-left: 8.333333333333332%
  }

  .x .c1-85 {
    margin-top: 72px
  }

  .x .c1-87 {
    font-size: 12px
  }

  .x .c1-8c {
    border-color: rgb(224, 201, 0)
  }

  .x .c1-8d {
    border-top-width: 1px
  }

  .x .c1-8e {
    border-top-style: solid
  }

  .x .c1-8f {
    flex-grow: 3
  }

  .x .c1-8i {
    color: rgb(70, 67, 54)
  }

  .x .c1-8k {
    padding-left: none
  }

  .x .c1-8l {
    padding-right: none
  }

  .x .c1-8m {
    row-gap: 0px
  }

  .x .c1-8n {
    column-gap: 0px
  }

  .x .c1-8o [data-typography] {
    color: inherit
  }

  .x .c1-8p {
    color: rgb(22, 22, 22)
  }

  .x .c1-8q:hover {
    color: rgb(64, 64, 64)
  }

  .x .c1-8r:active {
    color: rgb(22, 22, 22)
  }

  .x .c1-8u {
    right: 0px
  }

  .x .c1-8v {
    z-index: 10000
  }

  .x .c1-8w {
    border-radius: 0px
  }

  .x .c1-8x {
    transition: all 1s ease-in
  }

  .x .c1-8y {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3)
  }

  .x .c1-8z {
    contain: content
  }

  .x .c1-90 {
    bottom: -500px
  }

  .x .c1-99 {
    max-height: 300px
  }

  .x .c1-9a {
    color: rgb(75, 72, 56)
  }

  .x .c1-9c {
    margin-bottom: 4px
  }

  .x .c1-9d {
    word-break: break-word
  }

  .x .c1-9e {
    flex-basis: 50%
  }

  .x .c1-9f {
    border-style: none
  }

  .x .c1-9g {
    min-height: 40px
  }

  .x .c1-9h {
    border-radius: 4px
  }

  .x .c1-9i {
    color: rgb(219, 219, 219)
  }

  .x .c1-9j {
    text-shadow: none
  }

  .x .c1-9k:nth-child(2) {
    margin-left: 24px
  }

  .x .c1-9l:hover {
    background-color: rgb(0, 0, 0)
  }

  .x .c1-9n {
    right: 24px
  }

  .x .c1-9o {
    bottom: 24px
  }

  .x .c1-9p {
    z-index: 9999
  }

  .x .c1-9q {
    width: 65px
  }

  .x .c1-9r {
    height: 65px
  }

  .x .c1-9t {
    background-color: rgb(253, 228, 11)
  }

  .x .c1-9u {
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.25)
  }

  .x .c1-9v {
    transform: translateZ(0)
  }

  .x .c1-9w {
    color: rgb(28, 27, 25)
  }
</style>
<style data-glamor="cxs-xs-sheet">
  @media (max-width: 767px) {
    .x .c1-m {
      padding-top: 40px
    }
  }

  @media (max-width: 767px) {
    .x .c1-n {
      padding-bottom: 40px
    }
  }

  @media (max-width: 767px) {
    .x .c1-78 {
      width: 100%
    }
  }

  @media (max-width: 767px) {
    .x .c1-7e {
      height: calc((100vw - 48px)/1)
    }
  }

  @media (max-width: 767px) {
    .x .c1-7i {
      max-width: 360px
    }
  }

  @media (max-width: 767px) {
    .x .c1-7j {
      margin-left: auto
    }
  }

  @media (max-width: 767px) {
    .x .c1-7k {
      margin-right: auto
    }
  }

  @media (max-width: 767px) {
    .x .c1-7l {
      flex-direction: column
    }
  }

  @media (max-width: 767px) {
    .x .c1-86 {
      margin-top: 32px
    }
  }
</style>
<style data-glamor="cxs-sm-sheet">
  @media (min-width: 768px) {
    .x .c1-d {
      font-size: 16px
    }
  }

  @media (min-width: 768px) {
    .x .c1-14 {
      width: 100%
    }
  }

  @media (min-width: 768px) {
    .x .c1-1v {
      font-size: 22px
    }
  }

  @media (min-width: 768px) {
    .x .c1-3a {
      font-size: 14px
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3s {
      right: 0px
    }
  }

  @media (min-width: 768px) {
    .x .c1-4a {
      margin-top: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-4b {
      margin-right: -24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-4c {
      margin-bottom: -48px
    }
  }

  @media (min-width: 768px) {
    .x .c1-4d {
      margin-left: -24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-4l {
      padding-top: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-4m {
      padding-right: 24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-4n {
      padding-bottom: 48px
    }
  }

  @media (min-width: 768px) {
    .x .c1-4o {
      padding-left: 24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-5g {
      font-size: 30px
    }
  }

  @media (min-width: 768px) {
    .x .c1-63 {
      font-size: 33px
    }
  }

  @media (min-width: 768px) {
    .x .c1-6q {
      margin-bottom: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-6s {
      padding-bottom: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-6v {
      font-size: 26px
    }
  }

  @media (min-width: 768px) {
    .x .c1-72 {
      flex-basis: 50%
    }
  }

  @media (min-width: 768px) {
    .x .c1-73 {
      max-width: 50%
    }
  }

  @media (min-width: 768px) {
    .x .c1-7f {
      margin-left: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-7g {
      margin-right: 0
    }
  }

  @media (min-width: 768px) {
    .x .c1-7m {
      max-width: 70%
    }
  }

  @media (min-width: 768px) {
    .x .c1-7n {
      flex-basis: 70%
    }
  }

  @media (min-width: 768px) {
    .x .c1-7p {
      min-width: 30%
    }
  }

  @media (min-width: 768px) {
    .x .c1-7q {
      max-width: none
    }
  }

  @media (min-width: 768px) {
    .x .c1-7r {
      text-align: right
    }
  }

  @media (min-width: 768px) {
    .x .c1-7s {
      flex-basis: 30%
    }
  }

  @media (min-width: 768px) {
    .x .c1-88 {
      font-size: 12px
    }
  }

  @media (min-width: 768px) {
    .x .c1-92 {
      width: 400px
    }
  }

  @media (min-width: 768px) {
    .x .c1-93 {
      max-height: 500px
    }
  }

  @media (min-width: 768px) {
    .x .c1-94 {
      border-radius: 7px
    }
  }

  @media (min-width: 768px) {
    .x .c1-95 {
      margin-top: 24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-96 {
      margin-right: 24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-97 {
      margin-bottom: 24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-98 {
      margin-left: 24px
    }
  }

  @media (min-width: 768px) {
    .x .c1-9b {
      max-height: 200px
    }
  }

  @media (min-width: 768px) {
    .x .c1-9m {
      width: auto
    }
  }
</style>
<style data-glamor="cxs-md-sheet">
  @media (min-width: 1024px) {
    .x .c1-e {
      font-size: 16px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-p {
      display: block
    }
  }

  @media (min-width: 1024px) {
    .x .c1-15 {
      width: 984px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-1b {
      padding-right: 4px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-1l {
      padding-left: 4px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-1w {
      font-size: 22px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-3b {
      font-size: 14px
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-3r {
      right: 0px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-43 {
      display: none
    }
  }

  @media (min-width: 1024px) {
    .x .c1-5h {
      font-size: 30px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-5t {
      min-width: 300px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-64 {
      text-align: center
    }
  }

  @media (min-width: 1024px) {
    .x .c1-65 {
      margin-left: auto
    }
  }

  @media (min-width: 1024px) {
    .x .c1-66 {
      font-size: 33px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-6w {
      font-size: 26px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-74 {
      flex-basis: 33.33333333333333%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-75 {
      max-width: 33.33333333333333%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-80 {
      flex-basis: 100%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-81 {
      max-width: 100%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-89 {
      font-size: 12px
    }
  }

  @media (min-width: 1024px) {
    .x .c1-8g {
      flex-basis: 0%
    }
  }

  @media (min-width: 1024px) {
    .x .c1-8h {
      max-width: none
    }
  }

  @media (min-width: 1024px) {
    .x .c1-8j {
      text-align: left
    }
  }

  @media (min-width: 1024px) {
    .x .c1-8s {
      text-align: right
    }
  }

  @media (min-width: 1024px) {
    .x .c1-8t {
      margin-top: 0
    }
  }

  @media (min-width: 1024px) {
    .x .c1-9s {
      z-index: 9999
    }
  }
</style>
<style data-glamor="cxs-lg-sheet">
  @media (min-width: 1280px) {
    .x .c1-f {
      font-size: 16px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-16 {
      width: 1160px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-1x {
      font-size: 22px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-3c {
      font-size: 14px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-5i {
      font-size: 32px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-67 {
      font-size: 39px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-6x {
      font-size: 28px
    }
  }

  @media (min-width: 1280px) {
    .x .c1-8a {
      font-size: 12px
    }
  }
</style>
<style data-glamor="cxs-xl-sheet">
  @media (min-width: 1536px) {
    .x .c1-g {
      font-size: 18px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-17 {
      width: 1280px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-1y {
      font-size: 24px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-3d {
      font-size: 16px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-5j {
      font-size: 36px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-68 {
      font-size: 42px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-6y {
      font-size: 32px
    }
  }

  @media (min-width: 1536px) {
    .x .c1-8b {
      font-size: 14px
    }
  }
</style>
<style>
  @keyframes opacity-bounce {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }

    60% {
      transform: translateY(-20%);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
<style>
  .gd-ad-flex-parent {
    animation-name: opacity-bounce;
    animation-duration: 800ms;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
  }
</style>
<style>
  .page-inner {
    background-color: rgb(255, 229, 0);
    min-height: 100vh;
  }
</style>
<style>
  .grecaptcha-badge {
    visibility: hidden;
  }
</style>

<body class="x  x-fonts-courier-new">
  <%- include('./partials/header.ejs') %>

    <div id="layout-34-f-24533-1926-4426-a-2-d-4-78-ee-756138-e-5"
      class="layout layout-layout layout-layout-layout-12 locale-en-IN lang-en">
      <div data-ux="Page" id="page-83646"
        class="x-el x-el-div x-el c1-1 c1-2 c1-3 c1-4 c1-5 c1-6 c1-7 c1-8 c1-9 c1-a c1-b c1-c c1-d c1-e c1-f c1-g c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
        <div data-ux="Block" class="x-el x-el-div page-inner c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
          <div id="62296b68-ff0f-44ee-8a7b-e4d3ef83b102" class="widget widget-menu widget-menu-menu-3">
            <div data-ux="Widget" role="region" id="62296b68-ff0f-44ee-8a7b-e4d3ef83b102"
              class="x-el x-el-div x-el c1-1 c1-2 c1-h c1-b c1-c c1-d c1-e c1-f c1-g c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
              <div>
                <section data-ux="Section"
                  class="x-el x-el-section c1-1 c1-2 c1-h c1-i c1-j c1-b c1-c c1-m c1-n c1-d c1-e c1-f c1-g">
                  <div data-ux="Container"
                    class="x-el x-el-div c1-1 c1-2 c1-w c1-x c1-y c1-z c1-10 c1-b c1-c c1-14 c1-d c1-15 c1-e c1-16 c1-f c1-17 c1-g">
                    <h1 role="heading" aria-level="1" data-ux="SectionHeading" data-aid="MENU_SECTION_TITLE_RENDERED"
                      data-promoted-from="2" data-order="0" data-typography="HeadingBeta"
                      class="x-el x-el-h1 c1-1 c1-2 c1-1e c1-1f c1-60 c1-w c1-2f c1-1h c1-61 c1-1j c1-62 c1-5f c1-3w c1-3x c1-63 c1-64 c1-65 c1-66 c1-67 c1-68">
                      <span data-ux="Element" class="x-el x-el-span c1-69 c1-3e c1-6a c1-6b c1-6c">Our Team
                        Members</span>
                      <div data-ux="Block" class="x-el x-el-div c1-4 c1-6d c1-62 c1-5f c1-63 c1-66 c1-67 c1-68">
                        <hr aria-hidden="true" role="separator" data-ux="SectionHeadingHR"
                          class="x-el x-el-hr c1-6e c1-6f c1-6g c1-6h c1-1i c1-6i c1-2p c1-62 c1-5f c1-63 c1-66 c1-67 c1-68" />
                      </div>
                    </h1>
                    <div data-ux="Grid"
                      class="x-el x-el-div c1-1 c1-2 c1-11 c1-44 c1-1m c1-6j c1-1h c1-6k c1-6l c1-6m c1-b c1-c c1-4a c1-4b c1-4c c1-4d c1-d c1-e c1-f c1-g">
                      <div data-ux="GridCell"
                        class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-10 c1-2j c1-6n c1-1p c1-6o c1-b c1-c c1-4l c1-4m c1-4n c1-4o c1-d c1-e c1-f c1-g">
                        <div data-ux="Menu" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                          <div data-ux="Block" data-aid="MENU_CATEGORY_TECHNICALT"
                            class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                            <div data-ux="Block"
                              class="x-el x-el-div menu-category c1-1 c1-2 c1-1p c1-b c1-c c1-d c1-e c1-f c1-g">
                              <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                <div data-ux="Grid"
                                  class="x-el x-el-div c1-1 c1-2 c1-11 c1-44 c1-5a c1-6j c1-1h c1-6k c1-6p c1-6m c1-b c1-c c1-4a c1-4b c1-6q c1-4d c1-d c1-e c1-f c1-g">
                                  <div data-ux="GridCell"
                                    class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-6r c1-10 c1-2j c1-6n c1-2l c1-6o c1-b c1-c c1-4l c1-4m c1-6s c1-4o c1-d c1-e c1-f c1-g">
                                    <h3 role="heading" aria-level="3" data-ux="HeadingMiddle"
                                      data-aid="MENU_SECTION_TITLE_0" data-typography="HeadingGamma"
                                      class="x-el x-el-h3 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-1t c1-6u c1-1j c1-62 c1-3x c1-6v c1-6w c1-6x c1-6y">
                                      Technical Team</h3>
                                  </div>
                                  <div data-ux="GridCell"
                                    class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-6r c1-10 c1-2j c1-6n c1-2l c1-6o c1-6z c1-b c1-c c1-4l c1-4m c1-6s c1-4o c1-d c1-e c1-f c1-g">
                                    <p data-ux="Details" data-aid="MENU_SECTION_DESCRIPTION_0"
                                      data-typography="DetailsAlpha"
                                      class="x-el x-el-p c1-1 c1-2 c1-1e c1-1f c1-1g c1-1h c1-1i c1-1j c1-b c1-70 c1-39 c1-1k c1-3a c1-3b c1-3c c1-3d">
                                      &quot;Teamwork Makes the Dream Work: Our Daily Motto.&quot;</p>
                                  </div>
                                </div>
                                <div data-ux="Block"
                                  class="x-el x-el-div c1-1 c1-2 c1-71 c1-b c1-c c1-d c1-e c1-f c1-g">
                                  <div data-ux="Grid" data-aid="MENU_ITEM_GRID_0"
                                    class="x-el x-el-div c1-1 c1-2 c1-11 c1-44 c1-1m c1-6j c1-1h c1-6k c1-6l c1-6m c1-b c1-c c1-4a c1-4b c1-4c c1-4d c1-d c1-e c1-f c1-g">
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ERJISHUJSA"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/jishu.jpg"
                                                srcSet="../img/team/jishu.jpg"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM0_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM0_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Er. Jishu J Saikia</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM0_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM0_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>Managing Director&nbsp;</span></p>
                                            <p style="margin:0"><span>Chartered Engineer ( B.Tech &nbsp;Civil ).</span>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ARJYOTISMA"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/jyotisman.jpg"
                                                srcSet="../img/team/jyotisman.jpg"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM1_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM1_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Ar. Jyotisman Gayan</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM1_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM1_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>CEO, Principal Architect</span></p>
                                            <p style="margin:0"><span>( Exterior in-charge) B.Arch.</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ARMONDEEPA"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/mondeepam.jpg"
                                                srcSet="../img/team/mondeepam.jpg"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM2_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM2_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Ar. Mondeepan Sengupta</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM2_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM2_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>Principal Architect, Project Manager&nbsp;</span>
                                            </p>
                                            <p style="margin:0"><span>( Interior in-charge ) B.Arch.</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ERJOYDEEPP"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="https://img1.wsimg.com/isteam/ip/34f24533-1926-4426-a2d4-78ee756138e5/Screenshot_2023-10-07-14-27-43-367_com.instagr.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:85.6%25/rs=w:360,h:360,cg:true"
                                                srcSet="https://img1.wsimg.com/isteam/ip/34f24533-1926-4426-a2d4-78ee756138e5/Screenshot_2023-10-07-14-27-43-367_com.instagr.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:85.6%25/rs=w:360,h:360,cg:true, https://img1.wsimg.com/isteam/ip/34f24533-1926-4426-a2d4-78ee756138e5/Screenshot_2023-10-07-14-27-43-367_com.instagr.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:85.6%25/rs=w:720,h:720,cg:true 2x, https://img1.wsimg.com/isteam/ip/34f24533-1926-4426-a2d4-78ee756138e5/Screenshot_2023-10-07-14-27-43-367_com.instagr.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:85.6%25/rs=w:880,h:880,cg:true 3x"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM3_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM3_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Er. Joydeep Phukan</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM3_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM3_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>Engineer In-charge</span></p>
                                            <p style="margin:0"><span>B.Tech, (Civil)</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ERKASHMIRI"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/kashmiree.jpg"
                                                srcSet="../img/team/kashmiree.jpg"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM4_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM4_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Er. Kashmiri Hazarika</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM4_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM4_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>Assistant Engineer, (Civil)</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ARNIBEDITA"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/nibedita.jpg"
                                                srcSet="../img/team/nibedita.jpg"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM5_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM5_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Ar. Nibedita Bharali</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM5_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM5_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>Assistant Architect</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ERSAYEDTAH"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="" alt="img"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM6_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM6_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Anshuman Kashyap</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM6_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM6_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>&nbsp;Site Engineer</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ERSAYEDTAH"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/muskan.jpg" alt="img"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM6_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM6_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Muskan Gulgulia</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM6_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM6_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>&nbsp;Interior Designer</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ERSAYEDTAH"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/dikshita.jpg" alt="img"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM6_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM6_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Dikshita Kashyap Sarmah</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM6_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM6_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>&nbsp;Intern</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ERSAYEDTAH"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/rupanjali.jpg" alt="img"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM6_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM6_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Rupanjali Devi</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM6_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM6_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>&nbsp;Intern</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ERSAYEDTAH"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/chandani.jpg" alt="img"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM6_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM6_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Chandani Bhuyan</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM6_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM6_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>&nbsp;Intern</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_ERSAYEDTAH"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="" alt="img"
                                                data-ux="Image" data-aid="MENU_SECTION0_ITEM6_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION0_ITEM6_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Hrishikesh Bhuyan</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION0_ITEM6_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION0_ITEM6_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>&nbsp;Intern</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr aria-hidden="true" role="separator" data-ux="HR"
                              class="x-el x-el-hr c1-1 c1-2 c1-6e c1-7z c1-6g c1-3z c1-61 c1-4 c1-b c1-c c1-d c1-e c1-f c1-g" />
                          </div>
                          <div data-ux="Block" data-aid="MENU_CATEGORY_ARTCRAFTTE"
                            class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                            <div data-ux="Block"
                              class="x-el x-el-div menu-category c1-1 c1-2 c1-1p c1-b c1-c c1-d c1-e c1-f c1-g">
                              <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                <div data-ux="Grid"
                                  class="x-el x-el-div c1-1 c1-2 c1-11 c1-44 c1-5a c1-6j c1-1h c1-6k c1-6p c1-6m c1-b c1-c c1-4a c1-4b c1-6q c1-4d c1-d c1-e c1-f c1-g">
                                  <div data-ux="GridCell"
                                    class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-6r c1-10 c1-2j c1-6n c1-2l c1-6o c1-b c1-c c1-4l c1-4m c1-6s c1-4o c1-d c1-e c1-f c1-g">
                                    <h3 role="heading" aria-level="3" data-ux="HeadingMiddle"
                                      data-aid="MENU_SECTION_TITLE_2" data-typography="HeadingGamma"
                                      class="x-el x-el-h3 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-1t c1-6u c1-1j c1-62 c1-3x c1-6v c1-6w c1-6x c1-6y">
                                      Art &amp; Craft Team</h3>
                                  </div>
                                  <div data-ux="GridCell"
                                    class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-6r c1-10 c1-2j c1-6n c1-2l c1-6o c1-6z c1-b c1-c c1-4l c1-4m c1-6s c1-4o c1-d c1-e c1-f c1-g">
                                    <p data-ux="Details" data-aid="MENU_SECTION_DESCRIPTION_2"
                                      data-typography="DetailsAlpha"
                                      class="x-el x-el-p c1-1 c1-2 c1-1e c1-1f c1-1g c1-1h c1-1i c1-1j c1-b c1-70 c1-39 c1-1k c1-3a c1-3b c1-3c c1-3d">
                                      Add a description about this category</p>
                                  </div>
                                </div>
                                <div data-ux="Block"
                                  class="x-el x-el-div c1-1 c1-2 c1-71 c1-b c1-c c1-d c1-e c1-f c1-g">
                                  <div data-ux="Grid" data-aid="MENU_ITEM_GRID_2"
                                    class="x-el x-el-div c1-1 c1-2 c1-11 c1-44 c1-1m c1-6j c1-1h c1-6k c1-6l c1-6m c1-b c1-c c1-4a c1-4b c1-4c c1-4d c1-d c1-e c1-f c1-g">
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-80 c1-81 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_LAKHYAJYOT"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="https://img1.wsimg.com/isteam/ip/34f24533-1926-4426-a2d4-78ee756138e5/71948766_1175262986003821_2568090877629038592_.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:360,h:360,cg:true"
                                                srcSet="https://img1.wsimg.com/isteam/ip/34f24533-1926-4426-a2d4-78ee756138e5/71948766_1175262986003821_2568090877629038592_.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:360,h:360,cg:true, https://img1.wsimg.com/isteam/ip/34f24533-1926-4426-a2d4-78ee756138e5/71948766_1175262986003821_2568090877629038592_.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:720,h:720,cg:true 2x"
                                                data-ux="Image" data-aid="MENU_SECTION2_ITEM0_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION2_ITEM0_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Lakhya Jyoti Pathak</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION2_ITEM0_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION2_ITEM0_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>In-Charge at Art &amp; Craft Department</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr aria-hidden="true" role="separator" data-ux="HR"
                              class="x-el x-el-hr c1-1 c1-2 c1-6e c1-7z c1-6g c1-3z c1-61 c1-4 c1-b c1-c c1-d c1-e c1-f c1-g" />
                          </div>
                          <div data-ux="Block" data-aid="MENU_CATEGORY_OURDIGITAL"
                            class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                            <div data-ux="Block"
                              class="x-el x-el-div menu-category c1-1 c1-2 c1-1p c1-b c1-c c1-d c1-e c1-f c1-g">
                              <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                <div data-ux="Grid"
                                  class="x-el x-el-div c1-1 c1-2 c1-11 c1-44 c1-5a c1-6j c1-1h c1-6k c1-6p c1-6m c1-b c1-c c1-4a c1-4b c1-6q c1-4d c1-d c1-e c1-f c1-g">
                                  <div data-ux="GridCell"
                                    class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-6r c1-10 c1-2j c1-6n c1-2l c1-6o c1-b c1-c c1-4l c1-4m c1-6s c1-4o c1-d c1-e c1-f c1-g">
                                    <h3 role="heading" aria-level="3" data-ux="HeadingMiddle"
                                      data-aid="MENU_SECTION_TITLE_3" data-typography="HeadingGamma"
                                      class="x-el x-el-h3 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-1t c1-6u c1-1j c1-62 c1-3x c1-6v c1-6w c1-6x c1-6y">
                                      Our Digital Team</h3>
                                  </div>
                                  <div data-ux="GridCell"
                                    class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-6r c1-10 c1-2j c1-6n c1-2l c1-6o c1-6z c1-b c1-c c1-4l c1-4m c1-6s c1-4o c1-d c1-e c1-f c1-g">
                                    <p data-ux="Details" data-aid="MENU_SECTION_DESCRIPTION_3"
                                      data-typography="DetailsAlpha"
                                      class="x-el x-el-p c1-1 c1-2 c1-1e c1-1f c1-1g c1-1h c1-1i c1-1j c1-b c1-70 c1-39 c1-1k c1-3a c1-3b c1-3c c1-3d">
                                      Add a description about this category</p>
                                  </div>
                                </div>
                                <div data-ux="Block"
                                  class="x-el x-el-div c1-1 c1-2 c1-71 c1-b c1-c c1-d c1-e c1-f c1-g">
                                  <div data-ux="Grid" data-aid="MENU_ITEM_GRID_3"
                                    class="x-el x-el-div c1-1 c1-2 c1-11 c1-44 c1-1m c1-6j c1-1h c1-6k c1-6l c1-6m c1-b c1-c c1-4a c1-4b c1-4c c1-4d c1-d c1-e c1-f c1-g">
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-74 c1-75 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_DEEPDUTTAB"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/deep.jpg"
                                                srcSet="../img/team/deep.jpg"
                                                data-ux="Image" data-aid="MENU_SECTION3_ITEM0_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION3_ITEM0_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Deep Dutta Bora</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION3_ITEM0_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION3_ITEM0_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>Digital Marketing &amp; social media&nbsp;</span>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr aria-hidden="true" role="separator" data-ux="HR"
                              class="x-el x-el-hr c1-1 c1-2 c1-6e c1-7z c1-6g c1-3z c1-61 c1-4 c1-b c1-c c1-d c1-e c1-f c1-g" />
                          </div>
                          <div data-ux="Block" data-aid="MENU_CATEGORY_SECURITYAN"
                            class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                            <div data-ux="Block"
                              class="x-el x-el-div menu-category c1-1 c1-2 c1-1p c1-b c1-c c1-d c1-e c1-f c1-g">
                              <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                <div data-ux="Grid"
                                  class="x-el x-el-div c1-1 c1-2 c1-11 c1-44 c1-5a c1-6j c1-1h c1-6k c1-6p c1-6m c1-b c1-c c1-4a c1-4b c1-6q c1-4d c1-d c1-e c1-f c1-g">
                                  <div data-ux="GridCell"
                                    class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-6r c1-10 c1-2j c1-6n c1-2l c1-6o c1-b c1-c c1-4l c1-4m c1-6s c1-4o c1-d c1-e c1-f c1-g">
                                    <h3 role="heading" aria-level="3" data-ux="HeadingMiddle"
                                      data-aid="MENU_SECTION_TITLE_4" data-typography="HeadingGamma"
                                      class="x-el x-el-h3 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-1t c1-6u c1-1j c1-62 c1-3x c1-6v c1-6w c1-6x c1-6y">
                                      Security and Maintenance Cell</h3>
                                  </div>
                                  <div data-ux="GridCell"
                                    class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-6r c1-10 c1-2j c1-6n c1-2l c1-6o c1-6z c1-b c1-c c1-4l c1-4m c1-6s c1-4o c1-d c1-e c1-f c1-g">
                                    <p data-ux="Details" data-aid="MENU_SECTION_DESCRIPTION_4"
                                      data-typography="DetailsAlpha"
                                      class="x-el x-el-p c1-1 c1-2 c1-1e c1-1f c1-1g c1-1h c1-1i c1-1j c1-b c1-70 c1-39 c1-1k c1-3a c1-3b c1-3c c1-3d">
                                      Add a description about this category</p>
                                  </div>
                                </div>
                                <div data-ux="Block"
                                  class="x-el x-el-div c1-1 c1-2 c1-71 c1-b c1-c c1-d c1-e c1-f c1-g">
                                  <div data-ux="Grid" data-aid="MENU_ITEM_GRID_4"
                                    class="x-el x-el-div c1-1 c1-2 c1-11 c1-44 c1-1m c1-6j c1-1h c1-6k c1-6l c1-6m c1-b c1-c c1-4a c1-4b c1-4c c1-4d c1-d c1-e c1-f c1-g">
                                    <div data-ux="GridCell"
                                      class="x-el x-el-div c1-1 c1-2 c1-44 c1-4e c1-4u c1-1q c1-2c c1-2j c1-6n c1-1p c1-6o c1-11 c1-13 c1-b c1-c c1-72 c1-73 c1-4l c1-4m c1-4n c1-4o c1-d c1-80 c1-81 c1-e c1-f c1-g">
                                      <div data-ux="Block" data-aid="MENU_ITEM_MDJEHRULIS"
                                        class="x-el x-el-div c1-1 c1-2 c1-4 c1-76 c1-77 c1-1o c1-1p c1-b c1-c c1-78 c1-d c1-e c1-f c1-g">
                                        <div data-ux="Block"
                                          class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-11 c1-13 c1-12 c1-b c1-c c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><img
                                                src="../img/team/jehrul.jpg"
                                                srcSet="../img/team/jehrul.jpg"
                                                data-ux="Image" data-aid="MENU_SECTION4_ITEM0_IMAGE"
                                                class="x-el x-el-img c1-1 c1-2 c1-79 c1-10 c1-w c1-x c1-1h c1-1i c1-3h c1-7a c1-7b c1-7c c1-7d c1-b c1-c c1-7e c1-7f c1-7g c1-d c1-e c1-f c1-g" /></span>
                                          </div>
                                          <div data-ux="Block"
                                            class="x-el x-el-div c1-1 c1-2 c1-1m c1-11 c1-1n c1-4 c1-7h c1-1q c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-d c1-e c1-f c1-g">
                                            <span data-ux="Element"
                                              class="x-el x-el-span c1-1 c1-2 c1-7b c1-b c1-c c1-7m c1-7n c1-d c1-e c1-f c1-g">
                                              <h4 role="heading" aria-level="4" data-ux="HeadingMinor"
                                                data-aid="MENU_SECTION4_ITEM0_TITLE" data-typography="HeadingDelta"
                                                class="x-el x-el-h4 c1-1 c1-2 c1-1e c1-1f c1-6t c1-2e c1-2f c1-1h c1-1i c1-b c1-1t c1-1u c1-1k c1-1v c1-1w c1-1x c1-1y">
                                                Md. Jehrul Islam</h4>
                                            </span>
                                            <div data-ux="Block"
                                              class="x-el x-el-div c1-1 c1-2 c1-3z c1-7o c1-b c1-c c1-7p c1-7q c1-7r c1-4a c1-7s c1-d c1-e c1-f c1-g">
                                              <div data-ux="Price" data-aid="MENU_SECTION4_ITEM0_PRICE"
                                                data-typography="BodyAlpha"
                                                class="x-el x-el-div c1-1 c1-2 c1-1e c1-1f c1-7t c1-1h c1-1i c1-b c1-1t c1-c c1-1k c1-d c1-e c1-f c1-g">
                                              </div>
                                            </div>
                                          </div>
                                          <div data-ux="Text" data-aid="MENU_SECTION4_ITEM0_DESC"
                                            data-typography="BodyAlpha"
                                            class="x-el c1-1 c1-2 c1-1e c1-1f c1-1g c1-7u c1-1i c1-b c1-3t c1-c c1-1k c1-7i c1-7j c1-7k c1-d c1-e c1-f c1-g x-rt">
                                            <p style="margin:0"><span>Security and Maintenance head</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>

      <!-- Optional JavaScript-->
      <script src="js/jquery-3.5.1.min.js"></script>
      <script src="js/jquery.fancybox.min.js"></script>
      <script src="js/jquery.pagepiling.js"></script>
      <script src="js/aos.js"></script>
      <script src="js/jquery.easy_number_animate.js"></script>
      <script src="js/isotope.pkgd.min.js"></script>
      <script src="js/packery-mode.pkgd.min.js"></script>
      <script src="js/swiper-bundle.min.js"></script>
      <script src="js/animsition.min.js"></script>
      <!-- JavaScript-->
      <script src="js/main.js"></script>
</body>

</html>